@font-face {
    font-family:'Poppins';
    src: url('Poppins-Bold.ttf');
  }
  @font-face {
    font-family:'Libre';
    src: url('GemunuLibre-VariableFont_wght.ttf');
  }
  
html {
    overflow-x: hidden;
}
body {
    background-color: #282a36;
    width: 100%;
    height: 100%;
    position: absolute;
}
* {
    margin: 0;
    padding: 0;
}
#bar{
    list-style: none;
    font-family: Poppins;
    color: khaki;
}
#bar li {
    display: inline-block;
    padding-left: 2%;
    font-size: 22px;
    color: khaki;
}
#menuwu:hover {
    color: #f1fa8c;
}
.now{
    color: #8be9fd;
}
#title {
    bottom: 1vh;
    position: relative;
    padding-left: 10px;
    font-family: Poppins;
    color: #f8f8f2;
}
#footer{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    color: #eeeeee;
    background-color: transparent;
    z-index: 1;
    font-family: Poppins;
}
#intro {
    color: lavender;
}
#sub {
    color: #6272a4;
    padding: 10px;
}
#buttons {
    color: ivory;
    margin: 10px;
}
.button {
    margin: 5px;
}